-- MariaDB dump 10.19  Distrib 10.4.21-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: haro02
-- ------------------------------------------------------
-- Server version	10.4.21-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Temporary table structure for view `01bestandsliste`
--

DROP TABLE IF EXISTS `01bestandsliste`;
/*!50001 DROP VIEW IF EXISTS `01bestandsliste`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `01bestandsliste` (
  `ArtikelNr` tinyint NOT NULL,
  `Bezeichnung` tinyint NOT NULL,
  `Bestand` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `artikel`
--

DROP TABLE IF EXISTS `artikel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `artikel` (
  `ArtikelNr` varchar(5) NOT NULL COMMENT 'Prim├ñrschl├╝ssel; ab 10000',
  `Bezeichnung` varchar(35) DEFAULT NULL,
  `Lager` varchar(2) DEFAULT NULL COMMENT 'R1=Rohstofflager, T1=Einzelteilelager, F1= Fertigteilelager',
  `TeileArt` varchar(1) DEFAULT NULL COMMENT 'R = Rohstoffe, E = Erzeugnisse,  T= Einzelteile, H = Handelsware',
  `BeschaffungsArt` varchar(1) DEFAULT NULL COMMENT 'E= Eigenfertigung, F = Fremdbezug',
  `EKPreis` decimal(19,2) DEFAULT NULL COMMENT 'Einstandspreis zu Herstellkosten',
  `VerkPreis` decimal(19,2) DEFAULT 0.00,
  `Bestand` float DEFAULT 0 COMMENT 'Lagerbestand',
  `MBest` float DEFAULT NULL COMMENT 'Meldebestand, wenn erreicht, wird neu bestellt',
  `NBMenge` float DEFAULT 0 COMMENT '├£bliche Bestellmenge',
  `LiefNr` varchar(5) DEFAULT NULL COMMENT 'des Lieferanten, bei dem zuletzt bestellt wurde',
  `Absatz` float DEFAULT 0 COMMENT 'Verbrauch / bzw. Auslieferung in Mengeneinheiten',
  `ME` varchar(2) DEFAULT NULL COMMENT 'Mengeneinheiten',
  `ABC` varchar(1) DEFAULT NULL COMMENT 'A, B, C nach ABC-Analyse',
  `Status` varchar(1) DEFAULT NULL COMMENT '1 = aktiv; 2 = inaktiv',
  `UmsatzEK` decimal(19,2) DEFAULT 0.00,
  PRIMARY KEY (`ArtikelNr`),
  KEY `Bezeichnung` (`Bezeichnung`),
  KEY `UmsatzEK` (`UmsatzEK`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `artikel`
--

LOCK TABLES `artikel` WRITE;
/*!40000 ALTER TABLE `artikel` DISABLE KEYS */;
/*!40000 ALTER TABLE `artikel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aufkopf`
--

DROP TABLE IF EXISTS `aufkopf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aufkopf` (
  `AufNr` varchar(5) NOT NULL,
  `AufDat` datetime DEFAULT NULL,
  `KdNr` varchar(5) DEFAULT NULL,
  `AufTermin` datetime DEFAULT NULL,
  `ZBed` varchar(2) DEFAULT NULL,
  `VBed` varchar(2) DEFAULT NULL,
  `AufText` longtext DEFAULT NULL,
  `Stat` varchar(1) DEFAULT NULL,
  PRIMARY KEY (`AufNr`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aufkopf`
--

LOCK TABLES `aufkopf` WRITE;
/*!40000 ALTER TABLE `aufkopf` DISABLE KEYS */;
INSERT INTO `aufkopf` VALUES ('30001','1996-01-25 00:00:00','24001','1996-02-08 00:00:00','1','1',NULL,NULL),('30002','1996-02-25 00:00:00','24002','1996-03-08 00:00:00','1','1',NULL,NULL);
/*!40000 ALTER TABLE `aufkopf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aufpos`
--

DROP TABLE IF EXISTS `aufpos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aufpos` (
  `AufNr` varchar(5) NOT NULL,
  `AufPos` varchar(3) NOT NULL,
  `TeileNr` varchar(10) DEFAULT NULL,
  `VKPreis` decimal(19,4) DEFAULT 0.0000,
  `AufMenge` double DEFAULT 0,
  `LStat` varchar(1) DEFAULT NULL,
  `al` varchar(1) DEFAULT NULL,
  `auftext` longtext DEFAULT NULL,
  PRIMARY KEY (`AufNr`,`AufPos`),
  KEY `AufNr` (`AufNr`),
  KEY `AufPos` (`AufPos`),
  CONSTRAINT `aufpos_ibfk_1` FOREIGN KEY (`AufNr`) REFERENCES `aufkopf` (`AufNr`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aufpos`
--

LOCK TABLES `aufpos` WRITE;
/*!40000 ALTER TABLE `aufpos` DISABLE KEYS */;
INSERT INTO `aufpos` VALUES ('30001','010','70001',178.5000,100,NULL,'1',NULL),('30001','020','75000',145.0000,20,NULL,'1',NULL),('30002','010','11000',75.0000,300,NULL,'2',NULL),('30002','020','11058',90.0000,40,NULL,'2',NULL);
/*!40000 ALTER TABLE `aufpos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bereich_karlsruhe`
--

DROP TABLE IF EXISTS `bereich_karlsruhe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bereich_karlsruhe` (
  `LiefNr` varchar(5) CHARACTER SET utf8 NOT NULL,
  `Name` varchar(25) CHARACTER SET utf8 DEFAULT NULL,
  `PLZ` varchar(5) CHARACTER SET utf8 DEFAULT NULL,
  `Strasse` varchar(20) CHARACTER SET utf8 DEFAULT NULL,
  `Ort` varchar(20) CHARACTER SET utf8 DEFAULT NULL,
  `Umsatz` decimal(19,4) DEFAULT 0.0000
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bereich_karlsruhe`
--

LOCK TABLES `bereich_karlsruhe` WRITE;
/*!40000 ALTER TABLE `bereich_karlsruhe` DISABLE KEYS */;
INSERT INTO `bereich_karlsruhe` VALUES ('44003','Jonas Brauer Gmbh','76530','Mozartstrasse 12','Baden-Baden',8500.0000),('44010','Wiedmeier & S├Âhne','76532','Industriestra├ƒe 34','Rastatt',55000.0000),('44011','Druck AG','76133','Kaiserstr. 2','Karlsruhe',0.0000);
/*!40000 ALTER TABLE `bereich_karlsruhe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bestvor`
--

DROP TABLE IF EXISTS `bestvor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bestvor` (
  `BVNr` varchar(5) NOT NULL,
  `TeileNr` varchar(5) DEFAULT NULL,
  `AufNr` varchar(5) DEFAULT NULL,
  `AufPos` varchar(3) DEFAULT NULL,
  `BVMenge` double DEFAULT 0,
  `BestMenge` double DEFAULT 0,
  `LiefNr` varchar(5) DEFAULT NULL,
  `Anf` varchar(1) DEFAULT NULL,
  `BSt` varchar(1) DEFAULT NULL,
  PRIMARY KEY (`BVNr`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bestvor`
--

LOCK TABLES `bestvor` WRITE;
/*!40000 ALTER TABLE `bestvor` DISABLE KEYS */;
/*!40000 ALTER TABLE `bestvor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `debitor`
--

DROP TABLE IF EXISTS `debitor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `debitor` (
  `KDNR` varchar(5) NOT NULL,
  `KDNAME` varchar(25) DEFAULT NULL,
  `KDSTRASSE` varchar(25) DEFAULT NULL,
  `KDPLZ` varchar(5) DEFAULT NULL,
  `KDORT` varchar(25) DEFAULT NULL,
  `KDTEL` varchar(20) DEFAULT NULL,
  `KDFAX` varchar(20) DEFAULT NULL,
  `KDBON` varchar(1) DEFAULT NULL,
  `KDUMSATZ` decimal(19,4) DEFAULT 0.0000,
  `KDSTAT` varchar(1) DEFAULT NULL,
  `Kunde_seit` date DEFAULT NULL,
  PRIMARY KEY (`KDNR`),
  KEY `KDNAME` (`KDNAME`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `debitor`
--

LOCK TABLES `debitor` WRITE;
/*!40000 ALTER TABLE `debitor` DISABLE KEYS */;
/*!40000 ALTER TABLE `debitor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eing├ñnge`
--

DROP TABLE IF EXISTS `eing├ñnge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eing├ñnge` (
  `BelegNr` varchar(5) NOT NULL,
  `TeileNr` varchar(10) DEFAULT NULL,
  `Menge` float DEFAULT 0,
  `EingDat` datetime DEFAULT NULL,
  PRIMARY KEY (`BelegNr`),
  KEY `TeileNr` (`TeileNr`),
  CONSTRAINT `eing@0knge_ibfk_1` FOREIGN KEY (`TeileNr`) REFERENCES `artikel` (`ArtikelNr`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eing├ñnge`
--

LOCK TABLES `eing├ñnge` WRITE;
/*!40000 ALTER TABLE `eing├ñnge` DISABLE KEYS */;
INSERT INTO `eing├ñnge` VALUES ('00001','10003',50,'1996-01-02 00:00:00'),('00002','10001',100,'1996-01-02 00:00:00'),('00003','10005',150,'1996-01-02 00:00:00'),('00004','10008',150,'1996-01-02 00:00:00'),('00005','10006',200,'1996-01-03 00:00:00'),('00006','10004',200,'1996-01-03 00:00:00'),('00007','10002',150,'1996-01-03 00:00:00'),('00008','10009',150,'1996-01-03 00:00:00'),('00009','11000',10,'1995-12-28 00:00:00'),('00010','10009',25,'1996-03-10 00:00:00'),('00011','11068',20,'1996-03-10 00:00:00'),('00012','11032',20,'1996-03-10 00:00:00'),('00013','11033',10,'1996-03-10 00:00:00');
/*!40000 ALTER TABLE `eing├ñnge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kreditor`
--

DROP TABLE IF EXISTS `kreditor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kreditor` (
  `LiefNr` varchar(5) NOT NULL,
  `Name` varchar(25) DEFAULT NULL,
  `PLZ` varchar(5) DEFAULT NULL,
  `Strasse` varchar(20) DEFAULT NULL,
  `Ort` varchar(20) DEFAULT NULL,
  `Umsatz` decimal(19,4) DEFAULT 0.0000,
  PRIMARY KEY (`LiefNr`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kreditor`
--

LOCK TABLES `kreditor` WRITE;
/*!40000 ALTER TABLE `kreditor` DISABLE KEYS */;
/*!40000 ALTER TABLE `kreditor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stueli`
--

DROP TABLE IF EXISTS `stueli`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stueli` (
  `BgNr` varchar(5) NOT NULL,
  `PosNr` varchar(3) NOT NULL,
  `KompNr` varchar(5) DEFAULT NULL,
  `Menge` float DEFAULT 0,
  `Status` varchar(1) DEFAULT NULL,
  PRIMARY KEY (`BgNr`,`PosNr`),
  KEY `BgNr` (`BgNr`),
  KEY `KompNr` (`KompNr`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stueli`
--

LOCK TABLES `stueli` WRITE;
/*!40000 ALTER TABLE `stueli` DISABLE KEYS */;
/*!40000 ALTER TABLE `stueli` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vertreter`
--

DROP TABLE IF EXISTS `vertreter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vertreter` (
  `VertrNr` varchar(3) NOT NULL,
  `Name` varchar(25) DEFAULT NULL,
  `Vorname` varchar(20) DEFAULT NULL,
  `Strasse` varchar(20) DEFAULT NULL,
  `PLZ` varchar(5) DEFAULT NULL,
  `Ort` varchar(20) DEFAULT NULL,
  `ProvSatz` float DEFAULT 0,
  `GesUmsatz` decimal(19,4) DEFAULT 0.0000,
  `GesProvision` decimal(19,4) DEFAULT 0.0000,
  PRIMARY KEY (`VertrNr`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vertreter`
--

LOCK TABLES `vertreter` WRITE;
/*!40000 ALTER TABLE `vertreter` DISABLE KEYS */;
/*!40000 ALTER TABLE `vertreter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `01bestandsliste`
--

/*!50001 DROP TABLE IF EXISTS `01bestandsliste`*/;
/*!50001 DROP VIEW IF EXISTS `01bestandsliste`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `01bestandsliste` AS select `artikel`.`ArtikelNr` AS `ArtikelNr`,`artikel`.`Bezeichnung` AS `Bezeichnung`,`artikel`.`Bestand` AS `Bestand` from `artikel` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-02-17 14:38:06
